<div class="col-md-4">
  <label class="form-label">User name
    <input 
      type="text"
      class="form-control"
      [(ngModel)]="userName">
  </label>
  <p>{{ userName }}</p>
</div>
<div class="col-12">
  <button 
    class="btn btn-primary"
    [disabled]="userName === ''"
    (click)="userName = ''">Reset User</button>
  <!-- <button 
    class="btn btn-primary"
    [disabled]="checkUsername()"
    (click)="onResetUserName()">Reset User</button> -->
</div>