<button class="btn btn-primary"
  (click)="onDisplayPwd()">Display Details</button>
<span *ngIf="displayPwd">Secret password is Tuna</span>
<p *ngIf="numberOfClicks.length === 0; else hasClicked">
  You don't clicked yet.
</p>
<ng-template #hasClicked>
  <p 
    *ngFor="let item of numberOfClicks | keyvalue"
    [ngClass]="{fifth: item.key >= 4}">
    {{ item.value }}</p>
</ng-template>
