<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- Resources -->
      <h2>Resources</h2>
      <hr>
      <p>Run the ng generate component <b>component-name</b> command, 
        where <b>component-name</b> is the name of your new component.</p>
      <app-servers></app-servers>
      <!-- <div app-servers></div> -->
      <!-- <div class="app-servers"></div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <input type="text" [(ngModel)]="name">
      <p>Welcome {{ name }}</p>
      <hr>
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <app-username></app-username>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <app-exercise3></app-exercise3>
    </div>
  </div>
</div>